/* reset css */
*{
    margin:0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/*balise général */
h1{
    color:white;
    font-size: 30px;
    position: relative;
    margin-left: 10px;
    top: 15px;
}


/* navigation */
:root{
    --background:grey;
    
}

*::before, *::after{
    box-sizing: border-box;
}

header{
    background: var(--background);
    text-align: center;
    z-index:999;
    width: 100%;
    height: 65px;
    position: fixed;
}

.content{
    width: 60%;
    margin: 0 auto;
    padding: 20px;

    
    
    
}



nav{
    position:absolute;
    text-align: left;
    background: var(--background);
    width: 100%;
    transform: scale(1,0 );
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position:absolute;
    top:0;
    left:0;
    margin-left: 1em;
    height: 70%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after
{
display: block;
background: white;
height: 2px;
width: 2em;
border-radius: 2px;
position: relative;

}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
top:7px;
}

nav ul{
    margin-top: 30px;
    padding:0;
    list-style: none;
}

nav li{
    margin-bottom:1em;
    margin-left:1em;
}

nav a{

    color:white;
    text-decoration: none;
   font-size: 1.2rem;
   text-transform:uppercase;
   opacity: 0;
   transition: opacity 150ms ease-in-out;

}

nav a:hover{
    color:#000;
 
}

.nav-toggle:checked ~ nav{

    transform: scale(1,1);

}

.nav-toggle:checked ~ nav a {

    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;


}

/*image de fond */
.fond{
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
}

#moi{
    position: relative;
    height: 150px;
    margin-top: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#titre_competence{
    position: relative;
    text-align: center;
    text-align: center;
    top: 2px;
       text-transform: uppercase;
       font-family: verdana;
       font-size: 35px;
       font-weight: 700;
       color: black;
       text-shadow: 1px 1px 1px #919191,
           1px 2px 1px #919191,
           1px 3px 1px #919191,
           1px 4px 1px #919191,
           1px 5px 1px #919191,
           1px 6px 1px #919191,
           1px 7px 1px #919191,
           1px 8px 1px #919191,
           1px 9px 1px #919191,
           1px 10px 1px #919191,
       1px 18px 6px rgba(16,16,16,0.4),
       1px 22px 10px rgba(16,16,16,0.2),
       1px 25px 35px rgba(16,16,16,0.2),
       1px 30px 60px rgba(16,16,16,0.4)
}
/*première section*/
#profil{
    background-color: white;
    border-radius: 13px;
    margin-top: 8px;
    opacity: 0.7;
    position:relative;
    top:35px; 
    padding: 70px;
    font-size: 25px;
    
}

/*deuxième section */
#formation{
    margin-top: 150px;
    background-color: white;
    border-radius: 13px;
    position: relative;
    opacity: 0.7;
    padding: 20px;
}

.formationp{
    font-size: 20px;
}

#ma_formation{
    position: relative;
    position: relative;
    text-align: center;
    text-align: center;
    top: 2px;
       text-transform: uppercase;
       font-family: verdana;
       font-size: 35px;
       font-weight: 700;
       color: black;
       text-shadow: 1px 1px 1px #919191,
           1px 2px 1px #919191,
           1px 3px 1px #919191,
           1px 4px 1px #919191,
           1px 5px 1px #919191,
           1px 6px 1px #919191,
           1px 7px 1px #919191,
           1px 8px 1px #919191,
           1px 9px 1px #919191,
           1px 10px 1px #919191,
       1px 18px 6px rgba(16,16,16,0.4),
       1px 22px 10px rgba(16,16,16,0.2),
       1px 25px 35px rgba(16,16,16,0.2),
       1px 30px 60px rgba(16,16,16,0.4)
}
#compétences{
    background-color: white;
    border-radius: 13px;
    margin-top: 100px;
    opacity: 0.7;
    position:relative;
    padding: 10px;
}

#competence_p p{
    position: relative;
    font-size: 25px;
}

progress{
    width: 50%;
}

.formation-date{
    position: relative;
    left: 20px;
    text-decoration: underline;
    margin-top: 10px;
    font-size: 25px;
    position: relative;

}

span{
  display: block;
}

/*troisième section */
#projet{
    background-color: white;
    border-radius: 13px;
    margin-bottom: 15px;
    opacity: 0.7;
    margin-top: 120px;  

}

#titre_projet{
     position: relative;
     text-align: center;
     top: 10px;
        text-transform: uppercase;
        font-family: verdana;
        font-size: 35px;
        font-weight: 700;
        color: black;
        text-shadow: 1px 1px 1px #919191,
            1px 2px 1px #919191,
            1px 3px 1px #919191,
            1px 4px 1px #919191,
            1px 5px 1px #919191,
            1px 6px 1px #919191,
            1px 7px 1px #919191,
            1px 8px 1px #919191,
            1px 9px 1px #919191,
            1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
    
    
}


    .projet1 {
        
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        position: relative;
        text-align: center;
    }

    .projet2 {
        font-size: 21px;
        margin-bottom: 12px;
        text-align: center;
        position: relative;
    }

    .rezise{
        height: 200px;
    }

    #photo{
        position: relative;
        bottom: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
  
  
    #camera_thermique{
        position: relative;
        margin-bottom: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    
/*quatrième section */
#le_reste{
    background-color: white;
    border-radius: 13px;
    opacity: 0.7;
    position: relative;
    bottom: 24px;
    margin-top: 120px;
    text-align: center;
    
}

#contact{
    background-color: white;
    opacity: 0.7;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

#linkedin{
    height: 50px;
}

#linkedin:hover{
    width: 150px;
}

#github{
    height: 50px;
    
}
#github:hover {
width: 150px;
  }

#langue{
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
}




.centre_dinteret{
    margin-top: 50px;
}




/* responsive */
@media screen and (min-width:800px){
    .nav-toggle-label{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .cv{
        grid-column: 1/3;

    }

    nav{
        all:unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center ;
        height: 50px;
    }

    nav a{
        opacity: 1;
        position: relative;

    }

    nav a::before{
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        bottom:-.75em;
        left: 0;
        right: 0;
        transform-origin: left;
        transform:scale(0, 1);
        transition:transform ease-in-out 250ms;

    }


    nav ul{
        display: flex;
     
    }

    nav li{
        margin-left: 3em;
        margin-bottom: 0;
    }

  
}
@media screen and (max-width:800px) {
    #profil{
        font-size:20px;
        width: 350px;
    }
    

    #titre_competence{
        font-size: 20px;
        
    }

    #ma_formation{
        font-size: 20px;
    }

    #projet{
        width: 350px;
    }

    #compétences{
        width: 350px;
    }
}

@media (min-width: 1100px){
    .content{
        max-width: 1100px;
    }
    
  
}



